.mat-drawer-container {
    height: 100vh;
}

.menu-icon {
    cursor: pointer;
}

.sidenav-container {
    width: 300px;
}

.logo-container {
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
    min-height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.logo-img {
    max-width: 100%;
    height: 60px;
}

mat-toolbar,
mat-toolbar-row {
    min-height: 64px;
    height: 64px;
}

.links-container {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            padding-left: 16px;
            padding-right: 16px;
            height: 48px;
            display: flex;
            align-items: center;
            cursor: pointer;
            mat-icon {
                margin-right: 16px;
            }
            &:hover {
                background-color: rgba(0, 0, 0, 0.04);
            }
            &:focus {
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
    }
}

.router-container {
    padding-left: 56px;
    padding-top: 16px;
    padding-right: 16px;
}