<mat-card>
    <table class="user-table">
        <tr>
            <th>Name</th>
            <th>E-Mail</th>
            <th>City</th>
        </tr>
        <tr>
            <td>Name</td>
            <td>E-mail</td>
            <td>City</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>E-mail</td>
            <td>City</td>
        </tr>
    </table>
</mat-card>


<button class="add-user-btn" mat-fab color="primary" matTooltip="Add user" (click)="openDialog()">
        <mat-icon>add</mat-icon>
      </button>