<mat-card>
    <table class="user-table">
        <tr>
            <th>Name</th>
            <th>E-Mail</th>
            <th>City</th>
        </tr>
        <!--forschleife for all users array-->
        <tr *ngFor="let user of allUsers">
            <td>{{ user.firstName }} {{ user.lastName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.city }}</td>
        </tr>

    </table>
</mat-card>


<button class="add-user-btn" mat-fab color="primary" matTooltip="Add user" (click)="openDialog()">
        <mat-icon>add</mat-icon>
      </button>